@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../src/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('../src/assets/fonts/Source_Sans_Pro/ourceSansPro-SemiBold.ttf');
    font-weight: 600;
}
